.circleImage {
  position: absolute;
  right: 250px;
  top: 250px;
  border-radius: 50%;
  transition: 1s;
}
.circleImage:hover {
  right: 350px;
}

.image_bg {
  width: 300px;
  transform: scaleX(-1);
  border-radius: 50%;
  border: 10px rgb(175, 175, 175) solid;
  box-shadow: 1px 1px 10px rgb(31, 31, 31);
  transition: 1s;
}
.image_bg:hover {
  width: 750px;
  opacity: 0.5;
}
